<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="{{ site.author.name }}" />
   <link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="your title" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

  <div class="site">
    <div class="title">
      <a href="{{ HOME_PATH }}">{{ site.title }}</a>

      <a class="extra" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
      <a class="extra" href="{{ BASE_PATH }}{{ site.JB.pages_path }}">Pages</a>
      <a class="extra" href="{{ BASE_PATH }}{{ site.JB.categories_path }}">Categories</a>
      <a class="extra" href="{{ BASE_PATH }}{{ site.JB.tags_path }}">Tags</a>
    </div>
  
    {{ content }}
  
    <div class="footer">
      <div class="contact">
        <p>
          {{ site.author.name }}<br />
          {{ site.tagline }}<br />
          <a href='mailto:{{ site.author.email }}'>{{ site.author.email }}</a>
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="http://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a><br />
          <a href="http://twitter.com/{{ site.author.twitter }}/">twitter.com/{{ site.author.twitter }}</a><br />
        </p>
      </div>
      <div class="rss">
        <a href="http://feeds.feedburner.com/{{ site.author.feedburner }}">
          <img src="{{ ASSET_PATH }}/images/rss.png" alt="Subscribe to RSS Feed" />
        </a>
      </div>
    </div>
  </div>
  <a href="http://github.com/{{ site.author.github }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

  {% include JB/analytics %}
  <a href="https://github.com/snowdream/jekyll-bootstrap"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
</body>
</html>
